<%= form_for(@excel_file, :html => {:multipart => true}) do |f| %>
  <% if @excel_file.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@excel_file.errors.count, 'error') %> prohibited this excel_file from being saved:</h2>

      <ul>
      <% @excel_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :xl, 'Excel File' %><br/>
    <%= f.file_field :xl %><br/>
    <%= f.text_field :xl, :maxlength=>'254', :readonly => true %>
  </div>

  <div class="actions">
    <% if @excel_file.nil? || @excel_file.xl.blank? %>
      <%= f.submit 'Upload Excel File' %>
    <% else %>
      <%= f.submit 'Update Excel File' %>
    <% end %>
  </div>
<% end %>
