
<% if user_signed_in? %>

<h1>Listing Excel Files</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Path</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @excel_files.each do |excel_file| %>
      <tr>
        <td><%= excel_file.description %></td>
        <td><%= excel_file.xl %></td>
        <td><%= link_to 'Show', excel_file %></td>
        <td><%= link_to 'Edit', edit_excel_file_path(excel_file) %></td>
        <td><%= link_to 'Destroy', excel_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Process', "excel_files/#{excel_file.id}/process_file" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excel file', new_excel_file_path %>

<% else %>
    <h3>You currently have no permissions for this page.</h3>
<% end %>
