<p id="notice"><%= notice %></p>

<p>
  <strong>File Description:</strong>
  <%= @excel_file.description %>
</p>

<p>
  <strong>Excel File:</strong>
  <%= @excel_file.xl %>
</p>

<%= link_to 'Edit', edit_excel_file_path(@excel_file) %> |
<%= link_to 'Back', excel_files_path %>
