<tbody>
<% dollar_total = 0; loan_arr.select{|x| dollar_total = dollar_total + x.dollar_margin} %>
<% sum_loan_amt = 0.0; loan_arr.select{|x| sum_loan_amt = sum_loan_amt + x.loan_amt} %>
<% dlr_pctg = ( dollar_total.to_f / sum_loan_amt.to_f ) * 100 %>
<% loan_arr.each do |loan| %>
    <tr>
      <td><%= loan.loan_num %></td>
      <td><%= loan.loan_program %></td>
      <td><%= loan.note_rate %></td>
      <td><%= number_to_currency( loan.loan_amt ) %></td>
      <td><%= loan.investor %></td>
      <td><%= loan.loan_trade_total_buy_price %></td>
      <td><%= loan.loan_trade_total_sell_price %></td>
      <td><%= number_to_currency( loan.dollar_margin ) %></td>
      <td><%= loan.expected_house_margin %></td>
    </tr>
<% end %>
<tr>
  <td colspan="3"></td>
  <td colspan="4"><%= number_to_currency(sum_loan_amt.to_s )%></td>
  <td class="to_right"><%= number_to_currency(dollar_total ) %></td>
  <td class="to_right"><%= dlr_pctg.round(5).to_s %></td>
</tr>
</tbody>
