<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wells_fargo_srp_sheet.description %>
</p>

<p>
  <strong>SRP File:</strong>
  <%= @wells_fargo_srp_sheet.srp %>
</p>

<%= link_to 'Edit', edit_wells_fargo_srp_sheet_path(@wells_fargo_srp_sheet) %> |
<%= link_to 'Back', wells_fargo_srp_sheets_path %>
