<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @painting.id %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @painting.gallery_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @painting.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @painting.image %>
</p>

<%= image_tag @painting.image %>

<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
