<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wells_fargo_price_sheet.description %>
</p>

<p>
  <strong>Thefile:</strong>
  <%= @wells_fargo_price_sheet.thefile %>
</p>

<%= link_to 'Edit', edit_wells_fargo_price_sheet_path(@wells_fargo_price_sheet) %> |
<%= link_to 'Back', wells_fargo_price_sheets_path %>
